@use "../../globalStyles/_mixins" as m;

.description-container {
  position: absolute;
  left: 1.3rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 21rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);

  .title {
    padding: 1.6rem 1.4rem;
    line-height: 1.5;
  }

  .link {
    padding: 1.4rem;
    font-weight: 600;
    color: #258bf7;
    border-top: 1px solid #ececec;
    cursor: pointer;

    &::after {
      content: " >";
    }
  }
}

@include m.tablet {
  .description-container {
    position: initial;
    box-shadow: initial;
    align-items: center;
    width: 100%;

    .title {
      padding-bottom: 0;
      text-align: center;
      font-size: 0.8rem;
    }

    .link {
      padding: 0.9rem;
      border-top: initial;
    }
  }
}

@include m.mobile {
  .description-container {
    position: initial;
    box-shadow: initial;
    align-items: center;
    width: 100%;

    .title {
      padding-bottom: 0;
      text-align: center;
      font-size: 0.7rem;
      white-space: nowrap;
    }

    .link {
      padding: 0.9rem;
      border-top: initial;
    }
  }
}
