@use "../globalStyles/mixins" as m;
@use "../globalStyles/variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");

header {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  margin: auto;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  z-index: 2;

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    flex-wrap: wrap;

    .main-nav {
      cursor: pointer;

      &::after {
        content: "wanted";
        font-family: "Outfit", sans-serif;
        font-size: 1.4rem;
        margin-left: 0.7rem;
      }
    }

    .menus {
      display: flex;
      list-style: none;

      .home {
        display: none;
      }

      > * {
        padding: 0.5rem 0.7rem;
        cursor: pointer;
      }
    }

    [class*="fa"] {
      font-size: 1.2rem;
    }
  }

  @include m.tablet {
    .nav {
      width: 90%;
      margin: auto;
      justify-content: space-between;

      .main-nav {
        width: 100%;
        padding: 0.9rem 0;
      }

      .menus {
        padding-left: 0;
      }
    }
  }

  @include m.mobile {
    .nav {
      width: 90%;
      margin: auto;
      justify-content: space-between;

      .main-nav {
        width: 100%;
        padding: 0.9rem 0;
      }

      .menus {
        padding-left: 0;

        .home {
          display: initial;
          color: v.$accecntColor;
          font-weight: 700;
        }

        :not(:nth-child(1), :nth-child(2), :nth-child(3)) {
          display: none;
        }
      }
    }
  }
}
